<!DOCTYPE html>
<html lang="he">
<meta charset="utf-8">

<head>
    <title>הרשמה למערכת</title>
</head>
<body aline="right" dir="rtl">

<h1><p>הרשמה למערכת</p></h1>
<p>
    <form action="signup.jsp" method="post" aline="right">
        <div><label> ת.ז: <input type="number" name="taz"/> </label></div><br>
        <div><label> שם פרטי: <input type="text" name="firstName"/> </label></div><br>
        <div><label> שם משפחה: <input type="text" name="lastName"/> </label></div><br>
        <div><label> תאריך לידה: <input type="date" name="birthDay"/> </label></div><br>
        <div><label>מין:<select name="sex"><br>
            <option value="M">זכר</option>
            <option value="F">נקבה</option>
        </select>
        </label>
        </div><br>
        <div><label> מספר בוחן: <input type="number" name="testerId"/> </label></div><br>
        <div><input type="submit" value="הרשם" /></div>
    </form>
</p>
</body>
</html>