<!DOCTYPE html>

<c:set var="path" value="${pageContext.request.contextPath}"></c:set>

<html lang="en">
<head>

    <!-- Access the bootstrap Css like this,
        Spring boot will handle the resource mapping automcatically -->
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

    <!--
	<spring:url value="/css/main.css" var="springCss" />
	<link href="${springCss}" rel="stylesheet" />
	 -->
    <c:url value="/css/main.css" var="jstlCss" />
    <link href="${jstlCss}" rel="stylesheet" />

</head>
<body>

<div class="container" align="right">

    <div align="center" class="starter-template" >
        <h1>XM ברוכים הבאים למערכת</h1>
        <h2>,נבחן יקר</h2>
    </div>
    <%--<%@ page contentType="text/html; charset=UTF-8" %>--%>
    <p>להרשמה אנא לחץ <a href="${path}/login"> כאן</a> </p>
</div>

</div>

<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

</html>
